@page {
    margin: 1cm;
}

body {
    font-family: sans-serif;
    margin: 5.7cm 0 1cm 0;
    text-align: justify;
}

#header,
#footer {
    position: fixed;
    left: 0;
    right: 0;
    color: #000000;
    font-size: 0.9em;
}

#header {
    top: 0;
    border-bottom: 0.1pt solid #aaa;
}

#footer {
    bottom: 0;
    border-top: 0.1pt solid #aaa;
}

#header table,
#footer table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

#header td,
#footer td {
    padding: 0;
    width: 50%;
}

.page-number {
    text-align: center;
}

.page-number:before {
    content: "Pagina " counter(page);
}

hr {
    page-break-after: always;
    border: 0;
}

#cabecera{
    font-size: 14px;
    border-collapse: collapse;
}

.header {
    font-size: 12px;
    border-collapse: collapse;
}

#ejecucion{
    font-size: 12px;
    border-collapse: collapse;
}